body{
	box-sizing: border-box;
	background: #fff;
	overflow-x: hidden;
}
p{
	font-family: "Open Sans";
	font-size: 18px;
}
a:-webkit-any-link {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header-bg{
	background: url(images/header-bg.png) no-repeat bottom center;
	width: 100%;
	height: 100%;
	background-size: cover;
	min-height: 600px;
	float: left;
	margin-bottom: 50px;
}

.logo {
	float: left;
	margin-left: -15px;
}
.logo img{
	width: 100%;
	max-width: 427px;
	height: auto;
	}
.order{
	float: left;
	margin-left: -15px;
	padding-top: 50px;
	}
.order h5{
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 22px;
	line-height: 100%;
	color: #288092;
	opacity: 1.00;
	padding: 20px 30px;
	background: linear-gradient(180deg, #FFEE95 0%, #F2D32D 93.33%);
	border-radius: 50px;
	text-align: center;
	}
.order h5:hover{
background: linear-gradient(180deg, #FFE86E 0%, #E4C104 93.33%);
}

.order .material-icons{
	padding-right: 4px;
	vertical-align: middle;
	color: #288092;
	
}

.icons, .instruction, .cerificate{
	float: left;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	color: #a4d7de;
	text-align: right;

	}
.instruction{
	padding-right: 30px;
	}
.instruction .material-icons{
	padding-right: 4px;
	vertical-align: middle;
	color: #a4d7de;
}
.cerificate .material-icons{
	padding-right: 4px;
	vertical-align: middle;
	color: #a4d7de;
}
.instruction a{
	color: #a4d7de;
}
.cerificate a{
	color: #a4d7de;
}
.header-phone{
	float: right;
	margin-bottom: 50px;
	margin-right: -15px;
	}
.header-phone a{
	color: #fff;
}
.header-phone span{
	color: #a4d7de;
	}
.header-phone p{
 	color: #fff;
	font-size: 16px;
	}
.header-image{
	float: right;
	width: 492px;
	height: 370px;
	margin-right: -15px;
	}
.header-image img{
    width: auto;
    height: 370px;
    margin-right: 0;
}
.main-content{
	float: left;

	}

.video{
	margin-left: 0;
	margin-right: auto;
	margin-left: -15px;
	max-width: 630px;
}
.video iframe{
	min-height: 300px;
}
.video-top{
	margin-right: auto;
	margin-left: auto;
}
.logo-bottom{
	float: right;
	margin-top: 40px;
	}
.order.bottom{
	float:left;
	margin-left: 0px;
	padding-top: 30px;
	}
.order.bottom-second{
	margin-left: 70px;
	}
.bottom-section{
	float: left;
	width: 100%;
	background-color: #E7F8FB;
	padding: 50px 125px 50px 125px;
	}
.bottom-section .col-lg-4{
	padding-left: 20px;
    padding-right: 20px;
	}
.bottom-section h3{ 
	font-size: 22px;
	font-weight: 400;
	color: #157690;
	}

.lead{
	font-family: "Comfortaa";
	padding: 30px 0 30px 0;
	font-size: 29px;
	text-align: center;
	border-bottom: 2px solid #D7DEE2;
	}
.copyright{
	font-size:16px;
	text-align: center;
	}


@media only screen and (max-width: 1280px){

	

.first, .first-first{
	width: 32%;
	vertical-align: text-top;
	}
.second .second-second{
	width: 78%;
	}
.bottom-logo {
	margin-right: auto;
	margin-left: auto;	
	}
/*.bottom-section{
	padding: 50px 90px 50px 90px;
	}
.footer{
	margin: 0 90px 0 90px;
	}*/
}
@media only screen and (max-width: 1100px){
.header-bg{
    min-height: 515px;
    }
.logo img{
    max-width: 390px;
    }
.header-image{
    width: auto;
    height: auto;
    margin-top: 30px;
    }
.header-image img{
    width: auto;
    height: 255px;
    }
.order h5{
    font-size: 18px;
    }
.icons, .instruction, .cerificate{
    font-size: 15px;
    }
  .main-content{
	margin: 0;
	}  
.main-content .row{
	margin: 0 90px 0 90px;
	}
table{
	width: 100%;
	max-width: 800px;
	}
.first, .first-first{
	width: 32%;
	vertical-align: text-top;
	}
.second .second-second{
	width: 78%;
	}
.order h5{
	font-size: 15px;
}
}
@media only screen and (min-width: 1400px){
.header-bg{
	margin-top: -100px;
	min-height: 700px;
	}
.header-bg .row {
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;	
	}
.header-bg .row {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	}
.main-content{
	width: 100%;
	margin: auto;
	}
	
.main-content .row{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;	
	}
.bottom-section{
	margin: auto;
	}
.bottom-section .row{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	}
.footer{
	width: 100%;
	margin: auto;
	}
.footer{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	}
}
@media only screen and (min-width: 1800px){
.header-bg{
	margin-top: -120px;
	min-height: 750px;
	}
.header-bg .row {
	margin-top: 200px;
	}
}

@media only screen and (min-width: 1900px){
.header-bg{
	margin-top: -200px;
	min-height: 850px;
	}
.header-bg .row {
	margin-top: 320px;
	}
}
@media only screen and (max-width: 420px){
p{
	font-size: 16px;
	}
.desctop{
	display: none;
	}
.mobile{
		display: block;
	}
.header-bg .row{
	margin: 0;
	}

.logo {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}
.header-image{
	background: url(images/duoflex-header-img.png) no-repeat bottom center;
	background-size: contain;
	float: left;
	height: 220px;
	width: 100%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}
.order{
   width: 100%;
	margin-left: 0px;
   padding-top: 0px;	
	}
.cerificate {
	float: left;
	}
.instruction p{
	margin-bottom: 10px;	
	}
.cerificate p{
	margin-top: 10px;	
	}
.instruction{
	float:left;
	}
.header-phone{
	float:left;	
	}
.main-content{
	margin-left: auto;
	margin-right: auto;
	}
.table-heading {
	color: #157690;
	font-size: 20px;
	}	
.bordered{
	padding-bottom: 20px;
	border-bottom: 2px solid #D7DEE2;
	}
.video{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	}
.video iframe{
	min-height: 180px;
	}
.video-top{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	}
.video-top iframe{
	min-height: 180px;	
	}
.main-content img{
	display: block;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;	
	}
.order.bottom{
	float: none;
	}
.bottom-section{
	padding: 30px 10px 30px 10px;
	}
.footer{
	float: left;
	margin: 0 40px 0 40px;
	}
.lead{
	font-size: 20px;
	}
.copyright{
	font-size: 14px;
	}
}
@media only screen and (min-width: 700px){
.mobile{
	display: none;
	}
}
@media only screen and (max-width: 700px){
.desctop{
	display: none;
}

.logo {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}
.header-image{
	float: left;
	height: 320px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}
.order{
	margin-left: auto;
	margin-right: auto;
	}
.cerificate {
	float: right;
	}
.instruction p{
	margin-bottom: 10px;	
	}
.cerificate p{
	margin-top: 10px;	
	}
.instruction{
	float:left;
	}
.header-phone{
	float:left;	
	}
.main-content{
	margin-left: auto;
	margin-right: auto;
	}
.table-heading {
	color: #157690;
	font-size: 20px;
	}	
.bordered{
	padding-bottom: 20px;
	border-bottom: 2px solid #D7DEE2;
	}
.video{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	}
.video iframe{
	min-height: 300px;
	}
.video-top{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	}
.video-top iframe{
	min-height: 300px;	
	}
.main-content img{
	display: block;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;	
	}
.order.bottom{
	float: none;
	}
.bottom-section{
	padding: 30px 10px 30px 10px;
	}
.footer{
	float: left;
	margin: 0 0px 0 0px;
	}
.footer .row{
	margin-left: 0px;
	margin-right: 0px;
	}
.lead{
	font-size: 26px;
	}
.copyright{
	font-size: 14px;
	}
}
@media only screen and (max-width: 420px){
p{
	font-size: 16px;
	}
.desctop{
	display: none;
	}
.mobile{
		display: block;
	}
.header-bg .row{
	margin: 0;
	}

.logo {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	}
.header-image-mobile{
	float: left;
	height: 220px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;

	}
.order h5{
	padding: 20px 10px;	
	}
.cerificate {
	float: left;
	}
.instruction{
	float:left;
	padding-right: 0px;
	}
.instruction p{
	margin-bottom: 10px;	
	}
.cerificate p{
	margin-top: 10px;	
	}
.header-phone{
	float:left;	
	}
.main-content{
	margin-left: auto;
	margin-right: auto;
	}
.table-heading {
	color: #157690;
	font-size: 20px;
	}	
.bordered{
	padding-bottom: 20px;
	border-bottom: 2px solid #D7DEE2;
	}
.video{
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	}
.video iframe{
	min-height: 180px;
	}
.video-top{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	}
.video-top iframe{
	min-height: 180px;	
	}
.main-content img{
	display: block;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;	
	}
.order.bottom{
	float: none;
	}
.bottom-section{
	padding: 30px 10px 30px 10px;
	}
.footer{
	float: left;
	margin: 0 0px 0 0px;
	}
.lead{
	font-size: 26px;
	}
.copyright{
	font-size: 14px;
	}
}
