body{
	box-sizing: border-box;
	background: #fff;
	overflow-x: hidden;
}
p{
	font-family: "Open Sans";
	font-size: 18px;
}
a:-webkit-any-link {
	text-decoration: none;
}
img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.top-section{
	/*position: absolute;*/
    top: 0;
    left: 0;
	}
.header-bg{
	background: url(images/header-bg.png) no-repeat top center;
	width: 100%;
	height: 100%;
	background-size: cover;
	/*position: relative;*/
	min-height: 600px;
	float: left;
	margin-bottom: 50px;
}
.header-bg .row{
	margin: 60px 125px 0 125px;
	
}
.logo {
	float: left;
	margin-left: -15px;
}
.logo img{
	width: 100%;
	max-width: 427px;
	height: 150px;
	}
.order{
	float: left;
	margin-left: -15px;
	padding-top: 50px;
	}
.order h5{
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 22px;
	line-height: 100%;
	color: #288092;
	opacity: 1.00;
	padding: 20px 30px;
	background: linear-gradient(180deg, #FFEE95 0%, #F2D32D 93.33%);
	border-radius: 50px;
	text-align: center;
	}
.icon-cart{
	background: url(images/icon-cart.png) no-repeat center left;
	padding-left: 20px;
	margin-right: 20px;
	}

.icons, .instruction, .cerificate{
	float: left;
	font-weight: 400;
	font-size: 18px;
	line-height: 100%;
	color: #FFFFFF;
	text-align: right;

	}
.instruction{
	padding-right: 30px;
	}
.icon-instruction{
	background: url(images/icon-instruction.png) no-repeat center left;
	padding-left: 20px;
	margin-right: 10px;
	}
.icon-cerificate{
	background: url(images/icon-certificate.png) no-repeat center left;
	padding-left: 25px;
	margin-right: 10px;
	}
.header-phone{
	float: right;
	margin-bottom: 50px;
	}
.header-phone span{
	color: #a4d7de;
	
	}
.header-phone p{
 	color: #fff;
	font-size: 16px;
	
	}
.header-image{
	float: right;
	background: url(images/duoflex-header-img.png) no-repeat bottom right;
	width: 100%;
	height: 370px;
	background-size: contain;
	}
.main-content{
	float: left;
	margin: 0 125px 0 125px;
	}
.main-content .row{
	margin-right: 0;
  margin-left: 0;
	margin-bottom: 50px;
	}
table{
	font-family: "Open Sans";
	width: 1100px;
	/*margin-left: 5%;*/
	}
.first, .first-first{
	width: 296px;
	vertical-align: text-top;
	}
.first p{
	font-size: 22px;
	color: #157690;
	margin-top: 38px;
	}
.first-first p{
	font-size: 22px;
	color: #157690;
	margin-top: 13px;
}

.second, .second-first{
	width: 750px;
	border-bottom: 2px solid #D7DEE2;
	}
.second-first p{
	padding-top: 0;
	padding-bottom: 25px;
}
.second p{
	padding-bottom: 25px;
	padding-top: 25px;
}
.second.last {
	border-bottom: 0px;	
	}
.video{
	margin-left: 0;
	margin-right: auto;
	margin-left: -15px;
}
.logo-bottom{
	float: right;
	margin-top: 40px;
	}
.order.bottom{
	float:left;
	margin-left: 80px;
	padding-top: 30px;
	}
.bottom-section{
	float: left;
	background-color: #E7F8FB;
	padding: 50px 125px 50px 125px;
	}
	/*.bottom-section .col-lg-4{
		width: 30%;
	}*/
.bottom-section h3{ 
	font-size: 22px;
	color: #157690;
	}
.footer{
	margin: 0 125px 0 125px;
	}
.lead{
	font-family: "Comfortaa";
	padding: 30px 0 30px 0;
	font-size: 29px;
	text-align: center;
	border-bottom: 2px solid #D7DEE2;
	}
.copyright{
	font-size:16px;
	text-align: center;
	}


@media only screen and (max-width: 1280px){
.header-bg .row{
	margin: 60px 90px 0 90px;
	}
.main-content{
	margin: 0 90px 0 90px;
	}
.bottom-section{
	padding: 50px 90px 50px 90px;
	}
.footer{
	margin: 0 90px 0 90px;
	}
}
@media only screen and (max-width: 1100px){
table{
	width: 100%;
	}
.first{
	width: 42%;
	vertical-align: text-top;
	}
.second{
	width: 68%;
	}
}